{% extends "templates/web.html" %}
{% block page_content %}
    <div class="mx-40 my-20">
        <div class="mb-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <svg class="icon icon-md ml-0 mr-1">
                            <use href="#icon-search"></use>
                        </svg>
                    </span>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="Search for Jobs"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
        </div>
        {% for jo in job_openings %}
            <div class="mb-8 card border p-6">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mt-0 mb-3">{{ jo.job_title }}</h3>
                        <div class="mb-8">
                            <div class="flex mb-3 align-items-center secondary-stroke text-secondary">
                                <svg class="icon icon-md ml-0 mr-1">
                                    <use href="#icon-organization"></use>
                                </svg>
                                <p class="mr-3 ">{{ jo.company }}</p>
                                {%- if jo.department -%}
                                    <svg class="icon icon-md ml-0 mr-1">
                                        <use href="#icon-branch"></use>
                                    </svg>
                                    <p class="mr-3 ">{{ jo.department }}</p>
                                {% endif %}
                                {%- if jo.location -%}
                                    <svg class="icon icon-md ml-0 mr-1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 16 16">
                                        <g stroke="var(--secondary)" stroke-miterlimit="10">
                                        <path d="M11.467 3.458c1.958 1.957 1.958 5.088.027 7.02L7.97 14l-3.523-3.523a4.945 4.945 0 010-6.993l.026-.026a4.922 4.922 0 016.993 0zm0 0c-.026-.026-.026-.026 0 0z">
                                        </path>
                                        <path d="M7.971 8.259a1.305 1.305 0 100-2.61 1.305 1.305 0 000 2.61z"></path>
                                        </g>
                                    </svg>
                                    <p class="mr-3 ">{{ jo.location }}</p>
                                {% endif %}
                            </div>
                            {%- if jo.publish_salary_range -%}
                                <p>
                                    <span class="font-weight-bold salary">
                                        {{ frappe.format_value(frappe.utils.flt(jo.lower_range) ,
                                        currency=jo.currency) }} - {{ frappe.format_value(frappe.utils.flt(jo.upper_range) ,
                                        currency=jo.currency) }}
                                    </span>
                                    <span class="text-secondary">{{ jo.salary_type.lower() }}</span>
                                </p>
                            {% endif %}
                        </div>
                        <a class="btn btn-primary" href="{{ jo.route }}">{{ _("View Job →") }}</a>
                    </div>
                    <div class="col-3 flex flex-column">
                        {%- if jo.employment_type -%}
                            {%- if jo.employment_type == "Full-time" -%}
                                <span class="ml-auto smol-text py-1 px-3 font-weight-bold full-time-badge">{{ jo.employment_type }}</span>
                            {%- elif jo.employment_type == "Part-time" -%}
                                <span class="ml-auto smol-text py-1 px-3 font-weight-bold part-time-badge">{{ jo.employment_type }}</span>
                            {%- else -%}
                                <span class="ml-auto smol-text py-1 px-3 font-weight-bold other-badge">{{ jo.employment_type }}</span>
                            {% endif %}
                        {% endif %}
                        {%- if jo.closes_on -%}
                            <p class="font-italic text-right text-secondary mt-auto smol-text">
                                {{ _("Closes on " + frappe.format_date(jo.closes_on, "d MMM, YYYY") ) }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock page_content %}
