body.jobs-page {
	background: var(--gray-50);
}

h3.jobs-page {
	font-size: 1.7rem;
}

h4.jobs-page {
	font-size: 1.35rem;
}


.text-18 {
	font-size: 18px;
}

.text-15 {
	font-size: 15px;
}

.text-14 {
	font-size: 14px;
}

.text-13 {
	font-size: 13px;
}

.text-12 {
	font-size: 12px;
}

.full-time-badge {
	background: var(--bg-green);
	color: var(--text-on-green);
	border-radius: var(--border-radius);
}

.part-time-badge {
	background: var(--bg-orange);
	color: var(--text-on-orange);
	border-radius: var(--border-radius);
}

.other-badge {
	background: var(--bg-blue);
	color: var(--text-on-blue);
	border-radius: var(--border-radius);
}

.order-item:active {
	background-color: var(--gray-200);
}

.job-card-footer {
	background: var(--gray-100);
	border-radius: 0 0 0.75rem 0.75rem
}

.search-box-container {
	width: 100%;
}

#search-box {
	padding-left: 36px;
	background-color: var(--bg-color);
}

.search-bar .search-icon {
	position: absolute;
	margin-left: 12px;
	display: flex;
	align-items: center;
	height: 100%;
}

.filters-section .title-section {
	border-bottom: 1px solid var(--gray-300);
}
