h3 {
	font-size: 1.7rem;
}

p {
	margin-bottom: 0;
}

.primary-stroke {
	--icon-stroke: var(--primary);
}

.big-text {
	font-size: 18px;
}

.smol-text {
	font-size: 13px;
}

.full-time-badge {
	background: var(--bg-green);
	color: var(--text-on-green);
	border-radius: var(--border-radius)
}

.part-time-badge {
	background: var(--bg-orange);
	color: var(--text-on-orange);
	border-radius: var(--border-radius)
}

.other-badge {
	background: var(--bg-blue);
	color: var(--text-on-blue);
	border-radius: var(--border-radius)
}