body {
	background: var(--gray-50);
}

h3 {
	font-size: 1.7rem;
}

p {
	margin-bottom: 0;
}

.text-18 {
	font-size: 18px;
}

.text-15 {
	font-size: 15px;
}

.text-14 {
	font-size: 14px;
}

.text-13 {
	font-size: 13px;
}

.text-12 {
	font-size: 12px;
}

.full-time-badge {
	background: var(--bg-green);
	color: var(--text-on-green);
	border-radius: var(--border-radius);
}

.part-time-badge {
	background: var(--bg-orange);
	color: var(--text-on-orange);
	border-radius: var(--border-radius);
}

.other-badge {
	background: var(--bg-blue);
	color: var(--text-on-blue);
	border-radius: var(--border-radius);
}

.order-item:active {
	background-color: var(--gray-200);
}

.zoom {
	transition: transform 0.1s;
}

.zoom:hover {
	transform: scale(1.01);
}

.light-stroke {
	--icon-stroke: var(--gray-400);
}
