.top-toolbar {
	padding-bottom: 30px;
	margin-left: -17px;
}

.bottom-toolbar {
	margin-left: -17px;
	margin-top: 20px;
}

.btn {
	margin-right: 5px;
}

.marked-employee-label {
	font-weight: normal;
}

.checkbox {
	margin-top: 0px;
}
.employee_wrapper {
	margin-top: 25px;
	margin-bottom: 20px;
}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
}
h5 {
	margin-top: 20px;
	margin-bottom: 15px;
}
