<div class="py-12 px-4" style="font-size: 18px">
	<h2 class="mt-0">
		{{ doc.job_title }} {%- if doc.location -%}
		<small class="text-secondary ml-2">({{ doc.location }})</small>
		{% endif %}
	</h2>
	<p>{{ doc.description or _("No description") }}</p>
	{%- if doc.publish_salary_range -%}
	<p>
		<i>
			{{_("Salary range " + doc.salary_type.lower())}}:
			<b
				>{{ frappe.format_value(frappe.utils.flt(doc.lower_range),
				currency=doc.currency) }} - {{
				frappe.format_value(frappe.utils.flt(doc.upper_range),
				currency=doc.currency) }}
			</b>
		</i>
	</p>
	{% endif %}
	<a href="{{ doc.route }}"> {{ _("Learn More →") }}</a>
</div>
