<div class="feedback-section col-xs-12">
	{% if (feedback_history.length) { %}
		<div class="feedback-summary">
			{%= frappe.render_template("performance_feedback_summary",
					{
						number_of_stars: 5,
						average_rating: average_feedback_score,
						feedback_count: feedback_history.length,
						reviews_per_rating: reviews_per_rating
					}
				)
			%}
		</div>
	{% } %}

	{% if (can_add_feedback) { %}
		<div class="new-btn py-3">
			<button class="new-feedback-btn btn btn-sm small inline-flex items-center justify-center p-2">
				<svg class="icon icon-sm">
					<use href="#icon-add"></use>
				</svg>
				{{ __("New Feedback") }}
			</button>
		</div>
	{% } %}

	<div class="feedback-history frappe-card mb-3">
		{% if (feedback_history.length) { %}
			{% for(var i=0, l=feedback_history.length; i<l; i++) { %}
				<div class="feedback-content p-3 d-flex flex-row" data-name="{{ feedback_history[i].name }}">
					<div class="mb-2 head col-xs-3">
						<div class="row">
							<div class="col-xs-2">
								{{ frappe.avatar(feedback_history[i].user, "avatar-medium") }}
							</div>
							<div class="col-xs-10">
								<div class="ml-2">
									<div class="title font-weight-bold">
										{{ strip_html(feedback_history[i].reviewer_name) }}
									</div>
									<div class="small text-muted">
										{{ strip_html(feedback_history[i].reviewer_designation) }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content col-xs-6">
						<div class="rating">
							{%= frappe.render_template("rating",
									{number_of_stars: 5, average_rating: feedback_history[i].total_score, for_summary: false}
								)
							%}
						</div>
						<div class="feedback my-3">
							{{ feedback_history[i].feedback }}
						</div>
					</div>

					<div class="content col-xs-3 d-flex flex-row justify-content-end">
						<div class="time small text-muted">
							{{ frappe.datetime.global_date_format(feedback_history[i].added_on) }}
						</div>
						{% if (frappe.session.user === feedback_history[i].user || frappe.session.user === "Administrator") { %}
						<div class="ml-2 text-right">
							<div class="column-options dropdown pull-right">
								<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg class="icon icon-sm">
										<use href="#icon-dot-horizontal"></use>
									</svg>
								</a>
								<ul class="dropdown-menu overflow-hidden dropdown-menu-right">
									<li><a class="dropdown-item edit-feedback-btn">{{ __("Edit") }}</a></li>
									<li><a class="dropdown-item delete-feedback-btn">{{ __("Delete") }}</a></li>
								</ul>
							</div>
						</div>
					{% } %}
					</div>
				</div>
			{% } %}
		{% } else { %}
			<div class="no-feedback d-flex flex-col justify-content-center align-items-center text-muted">
				<span>{{ __("This employee has not received any feedback yet") }}</span>
			</div>
		{% } %}
	</div>
</div>

<style>

.feedback-content {
	border: 1px solid var(--border-color);
	border-bottom: none;
}

.feedback-content:last-child {
	border-bottom: 1px solid var(--border-color);
}

.new-btn {
	text-align: right;
}

.feedback-section .no-feedback {
	min-height: 100px;
}

</style>